<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Приложение Flask</title>
</head>
<body>
    <h1>Приложение Flask</h1>
    <h2>GET-запрос</h2>
    <form action="/get_example" method="get">
        <input type="text" name="param1" placeholder="param1">
        <input type="text" name="param2" placeholder="param2">
        <button type="submit">Отправить</button>
    </form>

    <h2>POST-запрос</h2>
    <form action="/post_example" method="post">
        <input type="text" name="param1" placeholder="param1">
        <input type="text" name="param2" placeholder="param2">
        <button type="submit">Отправить</button>
    </form>
</body>
</html>
